@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Rubik", sans-serif;
}

h1{
    background-color: white;
    box-shadow: 3px 3px rgba(55, 34, 80, 0.39);
    color: rgb(86, 54, 128);
    border-radius: 10px;
}

body{
    background-color: rgb(86, 54, 128);
    color: white;
}

main{
    background-color: rgb(165, 104, 245);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(55, 34, 80, 0.651);
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 12%;
}

header{
    padding-bottom: 20px;
}

aside{
    padding-bottom: 20px;
    font-size: 14px;
}

label{
    font-size: 21px;
    font-weight: 500;
}

#cpf{
    background-color: white;
    border-radius: 3px;
    box-shadow: black;
    padding: 7px;
    cursor: text;
    box-shadow: 3px 3px rgba(55, 34, 80, 0.39);
}

#botao{
    background-color: white;
    margin-top: 25px;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(86, 54, 128);
    box-shadow: 3px 3px rgba(55, 34, 80, 0.39);
}